.mocard {
    color: #f0f4ec;
    width: 400px;
    padding: 15px;
    background-color: #686967;
}

.card-stats {
    display: none;
}

.mocard > img {
    height: 270px;
    width: 400px;
    object-fit: contain;
}

.mocard > h2 {
    padding-top: 10px;
}